{% extends "base.html" %}
{% block title %}Students {% endblock %}
{% block content %}
<header>
    <h2 id="pageTitle">Admin Dashboard</h2>
    <div class="controls">
        <input id="search" placeholder="🔍 Search..." style="min-width:200px">
        <span class="small">💾 Request</span>
    </div>
</header>

<div style="display: flex; ">
    <h2>Manage Student</h2>

    <div style="margin-left: 780px;">
        <a href="{{ url_for('crud.add_student')}}">
            <button type="button" class="btn">Add Student </button>
        </a>
    </div>
</div>
<br>


{% if students %}
<div class="card">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roll NO</th>
                <th>Contact</th>
                <th>Face Registered</th>
                <th>Login Approved</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.roll_no}}</td>
                <td>{{ student.contact }}</td>
                <td>
                    {% if student.face_embedding %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td>
                    {% if student.is_approved %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td>
                    <div class="table-actions" style="display:inline-block;">
                        <a href="{{ url_for('crud.update_student', student_id=student.id) }}">
                            <button type="button" class="action-btn edit"><span class="icon">✏️</span>
                                Update</button>
                        </a>
                    </div>
                    <div class="table-actions" style="display:inline-block;">
                        <form method="POST" action="{{ url_for('crud.delete_student', student_id=student.id) }}">
                            <button type="submit" class="action-btn delete"
                                onclick="return confirm('Are you sure you want to permanently delete {{ student.name }}? This cannot be undone.');"><span
                                    class="icon">🗑️</span>
                                Delete</button>
                        </form>
                    </div>
                </td>



            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="card">
    <p style="color: var(--text-muted); padding: 20px; text-align:center;">
        No student added yet.
    </p>
</div>
{% endif %}

{% endblock %}