{% extends "base.html" %}
{% block title %} Update Student Data {% endblock %}

{% block content %}
<header>
    <h2 id="pageTitle">✏️ Update Student: {{ student.name }}</h2>
    <div class="controls">
        <a href="{{ url_for('dashboard.manage_students') }}"> <button class="btn">← Back to Students</button></a>
    </div>
</header>

<div class="card">
    <div class="card" style="max-width: 500px; margin: auto;">
        <h3>Edit Student Details</h3>
        <p class="small">Use this form to modify student information or reset their password.</p>

        <form action="{{ url_for('crud.update_student', student_id=student.id) }}" method="POST">

            <input type="hidden" id="id" name="id" value="{{ student.id }}" required>

            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" value="{{ student.name }}" placeholder="Full name" required>
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ student.email }}" placeholder="Email address"
                    required>
            </div>

            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" id="contact" name="contact" value="{{student.contact}}"
                    placeholder="Enter student contact" required>
            </div><br>

            <div class="form-group">
                <label for="roll_no">Roll No.</label>
                <input type="text" id="roll_no" name="roll_no" value="{{ student.roll_no or '' }}"
                    placeholder="Roll Number" required>
            </div>


            <div class="form-group">
                <label for="password">New Password (Leave blank to keep current)</label>
                <input type="password" id="password" name="password" placeholder="Enter new password to reset">
            </div>



            <button class="btn btn-primary" type="submit">💾 Save Changes</button>
            <a href="{{ url_for('dashboard.manage_students') }}"><button class="btn">✖
                    Cancel</button>
            </a><br><br>

        </form><br>
        <a href="{{ url_for('face_register.register_face', roll_no=student.roll_no) }}">
            <button class="btn"> 🎥 Register Face</button>
        </a>
    </div>
</div>
{% endblock %}